[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/mgood7123/DiligentCore
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/mgood7123/DiligentFX
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/mgood7123/DiligentSamples
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/mgood7123/DiligentTools
[submodule "GITHUB_ACTIONS_PREBUILD_EXTERNAL_REPO_FOLDER/macOS-latest"]
	path = GITHUB_ACTIONS_PREBUILD_EXTERNAL_REPO_FOLDER/macOS-latest
	url = http://github.com/mgood7123/DiligentEngine-macOS-latest.git
